.box {
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: white;
    margin: 20px auto;
    padding: 15px 30px;
    border-radius: 20px;
    border: 3px solid black;
    max-width: 800px;
}

.box:hover {
    background-color: #faf6f1;
    cursor: pointer;
}

.workshop {
    border: 3px solid #345875;
}

.tech_talk {
    border: 3px solid #4EA699;
}

.activity {
    border: 3px solid #832161;
}

.profilePicture {
    max-width: 125px;
    max-height: 125px;
}

/* TODO: Icon Source: https://www.svgrepo.com/collection/pixelarticons-interface-icons/ */
.icon {
    display: flex;
    justify-content: right;
}

.event-name {
    font-weight: bold;
}

/* MODAL */
.modal-heading {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}