.header {
    position: sticky;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    top: 0;
    height: 50px;
    background: white;
    font-weight: bold;
    font-size: 24px;
    color: #345875;
    border: 2px solid #FAF4E9;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.logo {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}