.App {
  text-align: center;
}

.main {
  padding: 20px;
}

.button {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  width: 150px;
  border: 3px solid #E16B77;
  border-radius: 20px;
}

.button-menu {
  display: flex;
  max-width: 864px;
  margin: auto;
}

.button:hover {
  background-color: #faf6f1;
  cursor: pointer;
  transition: 0.3s;

}

.welcome-message {
  display: flex;
  margin-left: 24px;
  align-items: center;
  font-weight: bold;
}