.App {
  text-align: center;
}

/* TODO: Sub-file CSS */

.button {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  width: 150px;
  border: 3px solid #E16B77;
  border-radius: 20px;
  margin: 20px 20px 0 100px;
}

.button:hover {
  background-color: #faf6f1;
  cursor: pointer;
}
.welcome-message {
  font-weight: bold;
}